footer.footer {
	position: fixed;
	left: 50%;
	bottom: 0;
	@include transform(translateX(-50%));
	z-index: 1000;
	width: 100%;
	max-width: 540px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	
	> ul {
		@include xy-position(center, space-between);
		
		> li {
			width: 33.33333%;
			> a {
				padding: 10px;
				@include xy-position(center, center);
				@include flex-direction(column);
				font-size: .9em;
				color: $color-gray;
				font-weight: 300;
				@include transition(.2s all ease)
			}
			
			&.active,
			&:hover,
			&:focus{
				> a {
					color: $color-main;
				}
			}
		}
	}
}